@font-face {
  font-family: 'Arima Madurai';
  src: url('fonts/ArimaMadurai-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arima Madurai';
  src: url('fonts/ArimaMadurai-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Abril Fatface';
  src: url('fonts/AbrilFatface-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.headerclass{
  background-color: #495159;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}
  .logo{
    color: white;
    font-family: 'Abril Fatface';
    padding: 2em;
  }

.headerlist{
  color: #065A82;
  font-family: 'Abril Fatface';
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
header li{
  padding: 15px;
}
/*Menu button */
.menu {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
/*CSS stle sheet starts here */

body{
  font-family: 'Arima Madurai';
  color: #0000;
  background-color: #FBFFEF;
}

h2{
  font-family: 'Abril Fatface';
  text-align: center;
  padding: 2em;
  color: #065A82;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.vid{
  padding: 0px 1px;
}
.promovid{
  max-width: 100%;
  display: block;
  margin: 0,auto;
  padding:1px 1px;
}

.services{
  text-align: justify;
  margin: 0em 1em;
  padding: 1em;
  line-height: 1.5em;
}
.services img{
max-width: 60%;
}

.servicesdes{
display: flex;
justify-content: space-around;
padding: 1em;
}

.workvid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.video{
  box-shadow: 1px 0px 5px 1px #666;
  max-width: 100%;
  margin: 3px 0px 14px 3px;
  align-items: center;
  padding:1px 1px;
}
/*Footer CSS starts here*/
.contact{
    background: #495159;
    height: 100%;
}
.links{
  display: inline-block;
  padding: 1em;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}



  @media (min-width: 600px){

    .vid{
    display: flex;
    justify-content: center;
  }

  .services{
    column-count: 2;
  }

.servicesdes{
  margin-top: 1em;
}
}




  }
